<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
                <div class="container">
                    <a class="navbar-brand">Colegio</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false"
                                                               aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="nav navbar-nav ml-auto text-uppercase">
                            <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger">@Html.ActionLink("Cobranzas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger">@Html.ActionLink("Realizar Pagos", "IngresoLegajo", "Home", new { area = "" }, new { @class = "navbar-brand" })a></li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    

    @RenderBody()

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Colegio </p>
    </footer>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>